@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f3f4f6;
}

html.dark { background: #0b1220; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
